[submodule "Dict"]
	path = Dict
	url = https://github.com/jlettvin/Dict
[submodule "Similar"]
	path = Similar
	url = https://github.com/jlettvin/Similar
[submodule "Banner"]
	path = Banner
	url = https://github.com/jlettvin/Banner
